:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: #fff;

  font-family: monospace;
  font-size: larger;
  font-weight: 900;
}

body {
  margin: 0;
  padding: 0;
}

#controls {
  display: flex;
  flex-direction: column;

  z-index: 2;

  margin: 1rem;

  position: absolute;
}

#controls > * {
  margin: 0.5rem;
}

#videoPlayer,
#audioPlayerContainer {
  z-index: 1;

  position: absolute;

  max-width: 40%;
  max-height: 40%;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  @media screen and (max-width: 768px) {
    max-width: 80%;
    max-height: 80%;
  }
}

#audioPlayerContainer {
  text-align: center;

  width: 60%;

  @media screen and (max-width: 768px) {
    width: 80%;
  }
}

#audioPlayer {
  width: 100%;
}

#albumArt {
  max-width: 40%;
  max-height: 40%;

  @media screen and (max-width: 768px) {
    max-width: 80%;
    max-height: 80%;
  }
}

#demos {
  position: absolute;

  top: 1vh;
  right: 3vw;

  z-index: 2;
}

#demos ul {
  height: 20vh;
  overflow: hidden;
  overflow-y: scroll;
}

#syncServer {
  position: absolute;

  bottom: 2vh;
  left: 1vw;

  z-index: 2;
}
