:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

#controls {
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 20px;
  left: 50%;
}
